<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0.//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boardShare.BoardShareDAO">
	<resultMap type="com.spring.boardShare.BoardShareVO" id="BoardShareMap">
		<result property="bs_bno" column="bs_bno"/>
		<result property="id" column="id"/>
		<result property="bs_category" column="bs_category"/>
		<result property="bs_content" column="bs_content"/>
		<result property="bs_title" column="bs_title"/>
		<result property="bs_reg_date" column="bs_reg_date"/>
		<result property="bs_update_date" column="bs_update_date"/>
		<result property="bs_view_counter" column="bs_view_counter"/>
		<result property="bs_warn_counter" column="bs_warn_counter"/>
		<result property="bs_deleteyn" column="bs_deleteyn"/>
	</resultMap>
	
	<resultMap type="com.spring.boardFree.WarnVO" id="WarnMap">
		<result property="bf_bno" column="bf_bno"/>
		<result property="id" column="id"/>
		<result property="bf_date" column="bf_date"/>
	</resultMap>
	
	<resultMap type="com.spring.member.MemberVO" id="MemberResultMap">
      <result property="id" column="id"/>
      <result property="m_nickname" column="m_nickname"/>
      <result property="m_image" column="m_image"/>
      <result property="m_email" column="m_email"/>
      <result property="m_eagree" column="m_eagree"/>
      <result property="m_sagree" column="m_sagree"/>
      <result property="m_name" column="m_name"/>
      <result property="m_phone" column="m_phone"/>
      <result property="m_cert" column="m_cert"/>
      <result property="m_password" column="m_password"/>
      <result property="m_regdate" column="m_regdate"/>
      <result property="m_update_date" column="m_update_date"/>
      <result property="m_deleteyn" column="m_deleteyn"/>
      <result property="m_following" column="m_following"/>
      <result property="m_follower" column="m_follower"/>
      <result property="m_level" column="m_level"/>
      <result property="m_favorite" column="m_favorite"/>
      <result property="m_blacklist" column="m_blacklist"/>
   </resultMap>

	<select id="getContent" parameterType="int" resultMap="BoardShareMap">
		select *
		from board_share
		where bs_bno = #{page}
	</select>
	
	<update id="updateViewCnt">
  		update board_share set bs_view_counter = bs_view_counter + 1 where  bs_bno = #{page}
  	</update>
  	
	<select id="getWriter" parameterType="int" resultMap="MemberResultMap">
		select *
		from member
		where id = #{id}
	</select>
	
	<select id="getUser" parameterType="String" resultType="int">
		select id
		from member
		where m_email = #{email, jdbcType=VARCHAR}
	</select>
	
</mapper>