<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0.//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.spring.member.MemberDAO">
	  <resultMap type="com.spring.member.MemberVO" id="MemberResultMap">
      <result property="id" column="id"/>
      <result property="m_nickname" column="m_nickname"/>
      <result property="m_image" column="m_image"/>
      <result property="m_email" column="m_email"/>
      <result property="m_eagree" column="m_eagree"/>
      <result property="m_sagree" column="m_sagree"/>
      <result property="m_name" column="m_name"/>
      <result property="m_phone" column="m_phone"/>
      <result property="m_cert" column="m_cert"/>
      <result property="m_password" column="m_password"/>
      <result property="m_regdate" column="m_regdate"/>
      <result property="m_update_date" column="m_update_date"/>
      <result property="m_deleteyn" column="m_deleteyn"/>
      <result property="m_following" column="m_following"/>
      <result property="m_follower" column="m_follower"/>
      <result property="m_level" column="m_level"/>
      <result property="m_favorite" column="m_favorite"/>
      <result property="m_blacklist" column="m_blacklist"/>
   </resultMap>
   
   <!-- 로그인시 회원 체크 -->
	<select id="userCheck" parameterType="String" resultMap="MemberResultMap">
		select *
		from member
		where m_email = #{email}
	</select>
	
	<select id="findEmail" parameterType="com.spring.member.MemberVO" resultType="String">
		select m_email
		from member
		where m_name = #{m_name, jdbcType=VARCHAR} and m_phone = #{m_phone, jdbcType=VARCHAR}
	</select>
	
	<select id="findPw" parameterType="com.spring.member.MemberVO" resultMap="MemberResultMap">
		select *
		from member
		where m_email = #{m_email, jdbcType=VARCHAR} and m_name = #{m_name, jdbcType=VARCHAR} and m_phone = #{m_phone, jdbcType=VARCHAR}
	</select>
	

	<insert id="memberJoin">
		insert into member
		values (seq_member_id.nextval, #{m_nickname}, #{m_image}, #{m_email}, #{m_eagree}, #{m_sagree}, #{m_name},#{m_phone}, #{m_cert}, #{m_password},
				sysdate, sysdate, #{m_deleteyn}, #{m_following}, #{m_follower}, #{m_level}, #{m_favorite}, #{m_blacklist})
	</insert>

	<select id="emailOverlapChk" parameterType="String" resultType="int">
		select count(m_email)
		from member
		where m_email = #{m_email}
	</select>
	
	<select id="nickOverlapChk" parameterType="String" resultType="int">
		select count(m_nickname)
		from member
		where m_email = #{m_nickname}
	</select>
	

	<update id="updatePw" parameterType="com.spring.member.MemberVO">
		update member set m_password = #{m_password, jdbcType=VARCHAR} where m_phone = #{m_phone, jdbcType=VARCHAR}
	</update>


</mapper>